.auto {
  width: auto;
  height: auto;
}

.fullWidth {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
}

img {
  user-select: none;
  -webkit-user-select: none;
}

#image-container {
  overflow-x: scroll;
  user-select: none;
  -webkit-user-select: none;
}
